NEXT_PUBLIC_MODULE_ADDRESS=0x...
NEXT_PUBLIC_CHAIN_ID=initialink-1
NEXT_PUBLIC_COSMOS_RPC=http://localhost:26657
NEXT_PUBLIC_COSMOS_REST=http://localhost:1317
NEXT_PUBLIC_L1_REST_URL=https://rest.testnet.initia.xyz
NEXT_PUBLIC_GAS_METADATA=0x...
DEPLOYER_PRIVATE_KEY=0x...
DEPLOYER_ADDRESS=0x...
DEPLOYER_INITIA_ADDRESS=init1...
FAUCET_PRIVATE_KEY=0x...
