NEXT_PUBLIC_CONTRACT_ADDRESS=0x...
NEXT_PUBLIC_CHAIN_ID=initialink-1
NEXT_PUBLIC_EVM_CHAIN_ID=2274399553167629
NEXT_PUBLIC_RPC_URL=http://localhost:8545
NEXT_PUBLIC_COSMOS_RPC=http://localhost:26657
NEXT_PUBLIC_COSMOS_REST=http://localhost:1317
NEXT_PUBLIC_L1_REST_URL=https://rest.testnet.initia.xyz
DEPLOYER_PRIVATE_KEY=0x...
FAUCET_PRIVATE_KEY=0x...
